@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.author {
  &:first-of-type {
    margin-top: utils.rem(spacing.$small);
  }

  margin-top: utils.rem(spacing.$medium);

  &:has(img) &__name {
    margin-top: utils.rem(spacing.$medium);
  }

  &__image {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: block;
    height: auto;
    object-fit: cover;
    width: 82px;

    @include media-queries.mq($from: md) {
      width: 100px;
    }

    @include media-queries.mq($from: lg) {
      width: 136px;
    }
  }

  &__name {
    margin: 0;
  }

  &__job-title {
    @include typography.h5;
    font-weight: 400;
    margin: 0;
    margin-top: utils.rem(spacing.$small);
  }

}
