@model NICE.NextWeb.API.Models.CacheKeyGeneratorModel

	@{
		Layout = null;
	}

	<!DOCTYPE html>

	<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Index</title>
	</head>
	<body>
		<div>
			<form method="post">
				<label for="unEncodedString">String to encode to MD5</label>
				<input id="unEncodedString" name="unEncodedString" type="text" style="width: 600px" accept-charset="utf-8" />
				<input type="submit" />
			</form>
			@if (Model != null)
			{
			@if (!String.IsNullOrEmpty(Model.MD5HashedString))
			{
			<p>@Model.UnEncodedString</p>
			}
			@if (!String.IsNullOrEmpty(Model.MD5HashedString))
			{
			<p>@Model.MD5HashedString</p>
			}
			}
		</div>
	</body>
</html>
