@use '@nice-digital/nds-core/scss/core';

.tableDate {
  @include core.mq($until: md) {
    &::after {
      content: attr(data-shortdate);
    }

    span {
      @include core.nds-invisible;
    }
  }
}

.sectionWrapper {
  @include core.mq($from: md) {
    padding-top: core.rem(core.$nds-spacing-xx-large);
    position: relative;
  }
}

.panelWrapper {
  @include core.mq($from: md) {
    position: initial;
  }
}
