node_modules
coverage
dist

.DS_Store
api/assets/c4/.structurizr/*

aws/terraform/.terraform/*
aws/terraform/.terraform.lock.hcl

**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

api/ocelot-cache-clear/terraform/**/*.terraform.lock.hcl
api/ocelot-cache-clear/index.zip
api/ocelot-cache-clear/terraform/base/tfplan
