**/package.json
**/package-lock.json

# NextJS output folder
.next

# Generated NextJS types
next-env.d.ts

# Generated test coverage
coverage

dist

functional-tests/docker-output
functional-tests/allure-report

# Auto generated storyblok types
web/src/types/storyblok.d.ts
