@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.definitionList {

  dl {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  max-width: utils.rem(650);
  }


  dt,
  dd {
    margin: utils.rem(0 0 spacing.$small 0);
  }

  dt {
    flex: 0 0 25%;
    font-weight: bold;
  }

  dd {
    flex: 0 0 75%;
  }
}
