.surveyContainer {
  align-items: center;
  background-color: #f9f9f9;
  /* Styles for the container */
  display: flex;
  justify-content: center;
  padding: 20px;

  iframe {
    /* Styles for the iframe */
    border: 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100vh;
    max-width: 80%;
    width: 100%;
  }
}
