@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/colours';

.details {
  border: 1pt solid colours.$border;
  cursor: pointer;
  margin-bottom: utils.rem(spacing.$small);
  margin-top: utils.rem(spacing.$large);
  padding: utils.rem(spacing.$medium) utils.rem(spacing.$medium);
}
