@use '@nice-digital/nds-core/scss/colours/tokens/global' as *;

// Alias tokens for next-web components can go here

// Homepage
$links-background: $nice-cream-3;

// News
$featured-story-background: $white;
$featured-story-outline: $black-tint-3;
$newslist-border: $custom-grey-1;
$news-section-background: $nice-cream-3;

// Promo box
$promo-box-background: $nice-cream-3;

// Spotlight
$spotlight-background: $nice-cream-3;

// Page Header Author block
$author-section-border: $black-tint-2;
