$homepage-large-spacing: 5rem; // Custom chunky value requested by UX - might make its way into NDS eventually
$homepage-large-spacing-mobile: 4rem; // Mobile equivalent of above


$card-section-large-spacing:7rem;
$card-section-medium-spacing:5rem;
$card-section-small-spacing:3rem;