$homepage-large-spacing: 5rem; // Custom chunky value requested by UX - might make its way into NDS eventually
$homepage-large-spacing-mobile: 4rem; // Mobile equivalent of above

$promo-box-large-spacing: 7rem;
$promo-box-medium-spacing: 5rem;
$promo-box-small-spacing: 3rem;
