/// @group components
@use 'sass:math';
@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';
@use '@nice-digital/nds-core/scss/colours/tokens/global';
@use '~/styles/colours' as *;
@use '~/styles/spacing' as *;
@mixin testimonialBodyFontSize {
  font-size: utils.rem(18, 15);

  @include media-queries.mq($from: lg) {
    font-size: utils.rem(18, 18);
  }
}

.testimonial {
  $block: &;

  @include visibility.hide-print;
  background: $testimonial-default-background;
  border: 1px solid $testimonial-default-border;
  container-name: testimonial;
  container-type: inline-size;

  &__mainContent {
    @include layout.container;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding: utils.rem(spacing.$large 0); // 1rem L/R margin

    @container testimonial (min-width: #{media-queries.$sm}) {
      // TODO: fix border / computed size issue
      flex-direction: row;
      padding-left: utils.rem(spacing.$medium); // 1rem L/R margin
      padding-right: utils.rem(spacing.$medium); // 1rem L/R margin
    }

    @container testimonial (min-width: #{media-queries.$lg}) {
      padding-left: utils.rem(spacing.$xx-large); // 1rem L/R margin
      padding-right: utils.rem(spacing.$xx-large); // 1rem L/R margin
    }
  }

  &__mainImageContainer {
    display: none;

    @container testimonial (min-width: #{media-queries.$md}) {
      align-self: center;
      display: flex;
    }
  }

  &__image {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    height: 64px;
    margin-right: utils.rem(spacing.$medium);
    object-fit: cover;
    width: 64px;

    @container testimonial (min-width: #{media-queries.$sm}) {
      height: 90px;
      width: 90px;
    }

    @container testimonial (min-width: #{media-queries.$md}) {
      height: 145px;
      margin-left: utils.rem(spacing.$large);
      margin-right: 0;
      width: 145px;
    }

    @container testimonial (min-width: #{media-queries.$lg}) {
      height: 164px;
      margin-left: utils.rem(spacing.$x-large);
      width: 164px;
    }

    &Mobile {
      @container testimonial (min-width: #{media-queries.$md}) {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;

    &::before {
      color: global.$nice-teal;
      content: '\201C';
      font-family: var(--serif-font-family);
      font-size: utils.rem(72, 15);
      line-height: 1rem;
      padding-top: utils.rem(spacing.$large);

      @container testimonial (min-width: #{media-queries.$sm}) {
        font-size: utils.rem(90, 15);
      }

      @container testimonial (min-width: #{media-queries.$lg}) {
        font-size: utils.rem(108, 18);
      }

      @include media-queries.mq($from: lg) {
        line-height: 2rem;
      }
    }
  }

  &__quote {
    @include typography.font-size(lead); //TODO: Incorrect on mobile
    margin: utils.rem(spacing.$medium) 0;
  }

  &__person {
    align-items: center;
    display: flex;
  }

  &__details {
    @include testimonialBodyFontSize();
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  &__name {
    font-weight: bold;
  }

  &__link {
    display: none;
  }

  &--transparent {
    background-color: transparent;
    border-left: unset;
    border-right: unset;
  }

  &--full-width,
  &--full-width-white {
    @include layout.fullWidth();
    border: unset;
    //Added bottom margin to create spacing between two full-width variations if both are added.
    margin-bottom: utils.rem(spacing.$large);

    #{$block}__content::before {
      @include media-queries.mq($from: sm) {
        font-size: utils.rem(90, 15);
      }

      @include media-queries.mq($from: lg) {
        font-size: utils.rem(124, 18);
        line-height: 2rem;
      }
    }

    #{$block}__image {
      @include media-queries.mq($from: lg) {
        height: 200px;
        width: 200px;
      }
      @include media-queries.mq($from: sm) {
        margin-left: 5rem;
      }
    }

    #{$block}__mainContent {
      @include media-queries.mq($from: lg) {
        padding-bottom: utils.rem(spacing.$x-large);
        padding-top: utils.rem(spacing.$x-large);
      }
    }
    #{$block}__link {
      @include media-queries.mq($from: sm) {
        @include testimonialBodyFontSize();
        color: colours.$link;
        display: block;
        margin-top: utils.rem(spacing.$medium);
      }
    }
  }

  &--full-width {
    background-color: $testimonial-subtle-background;
  }

  &--full-width-white {
    background-color: colours.$fill-white-background;
    border-bottom: 1px solid colours.$border;
    border-top: 1px solid colours.$border;
  }
}
