/// @group components
@use 'sass:math';
@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';
@use '~/styles/colours' as *;
@use '~/styles/spacing' as *;

.testimonial {
  @include visibility.hide-print;
  background: $testimonial-default-background;
  border: 1px solid $testimonial-default-background;
  flex-direction: column;
  gap: utils.rem(spacing.$medium);
  position: relative;

  &__container {
    @include layout.container;
  }

  &__mainContent {
    align-items: flex-start;
    container-name: testimonial;
    container-type: inline-size;
    display: flex;
    flex-wrap: wrap;
    gap: utils.rem(spacing.$medium);

    @container testimonial (min-width:600px) {
      flex-direction: row;
    }
  }

  &__mainImage {
    display: none;

    @container testimonial (min-width:600px) {
      border-radius: 50%;
      display: block;
      flex: 0 0 120px;
      height: 120px;
      margin-left: utils.rem(spacing.$x-large);
      object-fit: cover;
      order: 2;
      width: 120px;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: utils.rem(spacing.$x-small);

    @container testimonial (min-width:600px) {
      flex: 1;
      order: 1;
    }
  }

  &__quote {
    @include typography.font-size(lead); //TODO: Incorrect on mobile
  }

  &__person {
    display: flex;
    flex-direction: row;
    gap: utils.rem(spacing.$x-small);

    @container testimonial (min-width:600px) {
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  }

  &__avatar {
    border-radius: 50%;
    display: block;
    height: 50px;
    margin-right: utils.rem(spacing.$medium);
    object-fit: cover;
    width: 50px;

    @container testimonial (min-width:600px) {
      display: none;
    }
  }

  &__details {
    @include typography.font-size(p); //TODO: Incorrect on mobile
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  &__job {
    margin: 0;
    padding: 0;
  }

  &--subtle {
    @include typography.links-default;
    background-color: $testimonial-subtle-background;
  }

  &--full-width,
  &--full-width-white {
    @include layout.fullWidth();
  }

  &--full-width {
    background-color: $testimonial-subtle-background;
  }

  &--full-width-white {
    background-color: colours.$fill-white-background;
  }
}
