/// @group components
@use 'sass:math';
@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';
@use '~/styles/colours' as *;
@use '~/styles/spacing' as *;

.testimonial {
  @include visibility.hide-print;
  flex-direction: column;
  gap: spacing.$medium;
  background: $testimonial-default-background;
  border: 1px solid $testimonial-default-background;
  padding: utils.rem(spacing.$medium 0);
  position: relative;

  &__container {
    @include layout.container;
  }
  &__mainContent {
    display: flex;
    flex-wrap: wrap;
    gap: spacing.$medium;
    align-items: flex-start;
    container-type: inline-size;
    container-name: testimonial;
  }

  &__mainImage {
    display: none;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: spacing.$x-small;
  }

  &__quote {
    font-style: italic;
  }

  &__person {
    display: flex;
    flex-direction: row;
    gap: spacing.$x-small;
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: spacing.$medium;
  }
  &__details {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  &__job {
    margin: 0;
    padding: 0;
    color: #888;
    font-size: 0.9rem;
  }
  &--subtle {
    @include typography.links-default;
    background-color: $testimonial-subtle-background;
  }
  &--full-width,
  &--full-width-subtle {
    @include layout.fullWidth();
    background: #fff;
    &__container {
      @include layout.container;
    }

    // Conditional subtle styling
    &.testimonial--full-width-subtle {
      background-color: $testimonial-subtle-background;
    }

    &__mainContent {
      display: block;
      gap: 0;
      flex-direction: column;
    }

    &__mainImage {
      flex: 0 0 200px;
      width: 200px;
      height: 200px;
      margin: 0 auto 20px;
      order: 0;
    }

    &__content {
      margin-top: spacing.$medium;
    }
  }

  //container
  @container testimonial (min-width:600px) {
    &__mainContent {
      flex-direction: row;
    }

    &__mainImage {
      flex: 0 0 120px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: spacing.$large;
      order: 2;
      display: block;
    }

    &__content {
      flex: 1;
      order: 1;
    }
    &__avatar {
      display: none;
    }
    &__person {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
