.img {
  height: auto;
  margin-top: 1rem !important;
  width: 212px;
}

.span {
  margin-bottom: 1rem !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

.div {
  margin-bottom: 1rem !important;
}
