@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';


.cardGrid {
  &__cardGridRow {
    row-gap: utils.rem(spacing.$large);

    &:not(:last-child) {
      margin-bottom: utils.rem(spacing.$x-large);
    }
  }

  &__cardGridItem {
    margin-bottom: 0;// Some components have their own margin-bottom which messes with grid layout

  }

}
