@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use "~/styles/colours";


.newsCard {
  margin-bottom: utils.rem(spacing.$large);

  &.listItem {

    align-items: flex-start;
    border-bottom: 2px solid colours.$newslist-border;
    display: flex;
    flex-direction: row;
    padding-bottom: utils.rem(spacing.$large);

    .heading {
       margin-top: 0;

      & a {
        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
          @include typography.links-default;
          text-decoration: none;
        }
      }
    }

    .imageContainer {
      min-width: 300px;
      flex: 0 0 auto;
      margin-right: utils.rem(spacing.$large)
    }
  }
}

.imageContainer {
  aspect-ratio: 16 / 9;
  background-position: center;
  background-size: cover;
  display: block;
}

.heading {
  @include typography.h5();
  margin-top: utils.rem(spacing.$medium);
}

.date {
  margin-left: utils.rem(spacing.$medium);
}


