@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';


.newsSectionArticle {
  // set up variables for the offset of the featured image across breakpoints
  --featuredImageOffset: 16dvh;

  // set padding on page-header based on the image offset
  //TODO: Fix issue with spacing, dependant on the number of authors. listed
  &:has(.featuredImage) {
    :global(.page-header) {
      padding-bottom: var(--featuredImageOffset);
    }
  }

  .featuredImage {
    aspect-ratio: 16 / 9;
    display: block;
    height: auto;
    margin-bottom: utils.rem(spacing.$large);
    margin-top: calc(calc(var(--featuredImageOffset) * -1) - 1rem);
    object-fit: cover;
    width: 100%;

    @include media-queries.mq($from: sm, $until: md) {
      aspect-ratio: 21 / 9;
    }
  }

  //TODO: all news and blog header related. Move to NewsPageHeader
  :global(.page-header__heading) {
    margin: 0 0 utils.rem(spacing.$large) 0;
  }

  :global(.page-header__lead) {
    margin: 0 0 utils.rem(spacing.$large) 0;
  }

  :global(.page-header__description) {
    margin: 0 0 utils.rem(spacing.$medium) 0;
  }

  :global(.breadcrumbs) {
    margin-top: 0;
  }

  :global(.action-banner) {
    margin: utils.rem(spacing.$xx-large) 0;
  }


}

