@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

/* stylelint-disable selector-class-pattern */

.newsSectionArticle {

  --featuredImageOffset: 16dvh;

  // set padding on page-header based on the image offset
  //TODO: Fix issue with spacing, dependant on the number of authors. listed
  &:has(.featuredImage) {
    :global(.page-header) {
      padding-bottom: var(--featuredImageOffset);
    }
  }

  .featuredImage {
    aspect-ratio: 16 / 9;
    display: block;
    height: auto;
    margin-bottom: utils.rem(spacing.$large);
    margin-top: calc(calc(var(--featuredImageOffset) * -1) - 1rem);
    object-fit: cover;
    width: 100%;

    @include media-queries.mq($from: sm, $until: md) {
      aspect-ratio: 21 / 9;
    }
  }

  //TODO: all news and blog header related. Move to NewsPageHeader
  :global(.page-header__heading) {
    margin: 0 0 utils.rem(spacing.$large) 0;

    /* best compromise between legibility vs words being chopped off on narrow viewports*/
    @include media-queries.mq($until: 360px) {
      hyphens: auto;
      word-break: break-word;
    }

    @include media-queries.mq($until: xs) {
      @include typography.font-size(5);
    }
  }

  :global(.page-header__lead) {
    margin: 0 0 utils.rem(spacing.$large) 0;
  }

  :global(.page-header__description) {
    margin: 0 0 utils.rem(spacing.$medium) 0;
  }

  :global(.breadcrumbs) {
    margin-top: 0;
  }

  :global(.action-banner) {
    margin: utils.rem(spacing.$xx-large) 0;
  }

  .authorSection {
    border-left: 2px solid #808080;
    padding-left: 1rem;
  }


}

