@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';


.infoPage {
  $self: &;
  // page overrides for DS components

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.page-header) {
    @include media-queries.mq($until: sm) {
      margin-bottom: utils.rem(spacing.$large);
    }
  }
  /* stylelint-disable-next-line selector-class-pattern */
  :global(.card-list) {
    max-width: layout.$readable-width;
  }
  /* stylelint-disable-next-line selector-class-pattern */
  :global(.card-list) {
    margin: utils.rem(0 0 spacing.$large 0);
  }
  // Standalone accordion default
  :global(.accordion) {
    margin-bottom: utils.rem(spacing.$large);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.accordionGroup__content) :global(.accordion) {
    margin-bottom: utils.rem(spacing.$medium); // Grouped accordions: apply to all except last
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.accordionGroup__content) :global(.accordion:last-child) {
    margin-bottom: utils.rem(spacing.$large); // Grouped accordions: last one gets 2rem
  }
  /* stylelint-disable-next-line selector-class-pattern */
  :global(.card__heading) {
    margin: 0; /* ;no extra heading margins */
  }
  //target lite youtube embed wrapper - (video) is hardcoded at the start of every title
  [data-title^='(video)'] {
    margin: utils.rem(spacing.$large) 0 utils.rem(spacing.$large);
    max-width: layout.$readable-width;
  }
  /* stylelint-disable-next-line selector-max-compound-selectors */
  .content > div > div > h2 {
    // Bit ugly, but deals with rich text headings getting nudged down the page
    margin-top: 0;
  }

  @include media-queries.mq($from: sm) {
    &--reverse-order {
      #{ $self }__contentArea {
        order: 1;
      }

      #{ $self }__navArea {
        order: 2;
      }
    }
  }
}


