@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/layout';

.infoPage {
  $self: &;
  // page overrides for DS components

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.page-header) {
    @include media-queries.mq($until: sm) {
      margin-bottom: utils.rem(spacing.$large);
    }
  }
  /* stylelint-disable-next-line selector-class-pattern */
  :global(.list--unstyled) {
    max-width: layout.$readable-width;
  }
  /* stylelint-disable-next-line selector-class-pattern */
  :global(.list--unstyled .card:last-child) {
    margin: utils.rem(0 0 spacing.$large 0);
  }
  //target lite youtube embed wrapper - (video) is hardcoded at the start of every title
  [data-title^='(video)'] {
    margin: utils.rem(spacing.$large) 0 utils.rem(spacing.$large);
    max-width: 66ch;
  }
  /* stylelint-disable-next-line selector-max-compound-selectors */
  .content > div > div > h2 {
    // Bit ugly, but deals with rich text headings getting nudged down the page
    margin-top: 0;
  }

  @include media-queries.mq($from: sm) {
    &--reverse-order {
      #{ $self }__contentArea {
        order: 1;
      }

      #{ $self }__navArea {
        order: 2;
      }
    }
  }
}
