@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

/* stylelint-disable selector-max-compound-selectors */
.content > div > div > h2 {
  // Bit ugly, but deals with rich text headings getting nudged down the page
  margin-top: 0;
}
// stylelint-disable selector-class-pattern
.page-header {
  @include media-queries.mq($until: sm) {
    margin-bottom: 0; //TODO: why is this not being applied??
  }
}

.infoPage {
  &NavArea {
    @include media-queries.mq($until: sm) {
      margin-top: utils.rem(spacing.$large);
    }
  }

  @include media-queries.mq($from: sm) {
    &--reverse-order {
      .infoPageContentArea {
        order: 1;
      }

      .infoPageNavArea {
        order: 2;
      }
    }
  }
}
