@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

/* stylelint-disable selector-class-pattern */

.newsSectionArticle {
  // set up variable for the offset of the featured image across breakpoints
  --featuredImageOffset: 16dvh;

  // set padding on page-header based on the negat
  &:has(.featuredImage) {
    :global(.page-header) {
      padding-bottom: var(--featuredImageOffset);
    }
  }

  :global(.page-header) {
    margin-bottom: utils.rem(spacing.$large);
  }


  //TODO: move to  news page header component
  :global(.page-header__heading) {

    /* best compromise between legibility vs words being chopped off on narrow viewports*/
    @include media-queries.mq($until: 360px) {
      hyphens: auto;
      word-break: break-word;
    }

    @include media-queries.mq($until: xs) {
      @include typography.font-size(5);
    }

    margin: 0 0 utils.rem(spacing.$large) 0;
  }

  :global(.page-header__lead) {
    margin: 0 0 utils.rem(spacing.$large) 0;
  }

  :global(.page-header__description) {
    margin: 0 0 utils.rem(spacing.$medium) 0;
  }

  :global(.breadcrumbs) {
    margin-top: 0;
  }

  // setting featured image styles here as we need to manage the offset between the image and the page header
  .featuredImage {
    aspect-ratio: 16 / 9;
    display: block;
    height: auto;
    margin-bottom: utils.rem(spacing.$large);
    margin-top: calc(calc(var(--featuredImageOffset) * -1) - 1rem);
    object-fit: cover;
    width: 100%;

    @include media-queries.mq($from: sm, $until: md) {
      aspect-ratio: 21 / 9;
    }
  }



  hr {
    margin: utils.rem(spacing.$medium 0);
  }

  :global(.action-banner) {
    margin: utils.rem(spacing.$x-large) 0;

    @include media-queries.mq($from: md) {
      margin: utils.rem(spacing.$xx-large) 0;
    }
  }

}

.articleSidebar {
  margin: utils.rem(spacing.$large) 0 0;

  @include media-queries.mq($from: md) {
    margin: 0 0 utils.rem(spacing.$large);
  }

  //override child panel margins
  > * + * {
    margin: 2rem 0 0;
  }
}
