@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.calloutImageContainer {
  aspect-ratio: 16 / 9;
  background-position: center;
  background-size: cover;
  display: block;
  flex: 0 0 auto;
  margin-bottom: utils.rem(spacing.$medium);
  min-width: 100%;
  object-fit: cover;
  
  @include media-queries.mq($from: sm) {
    aspect-ratio: 21 / 9;
  }
  
  @include media-queries.mq($from: md) {
    aspect-ratio: 16 / 9;
  }
}
