@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
// @value youtubeWrapper from '../StoryblokYoutubeEmbed/StoryblokYoutubeEmbed.module.scss'
// import '../StoryblokYoutubeEmbed/StoryblokYoutubeEmbed.module.scss'

.storyblokRichTextWrapper {

  p:has(img) {
    margin: utils.rem(spacing.$large 0);
    max-width: max-content;
  }

  h2,h3,h4,h5,h6 {
    margin: utils.rem(spacing.$large) 0 utils.rem(spacing.$medium);
  }

  picture {
    display: block;
    img {
      aspect-ratio: 16/9;
      display: block;
      height: auto;
      margin: utils.rem(spacing.$large) 0;
      object-fit: cover;
      width: 100%;
    }
  }

  //target lite youtube embed wrapper - (video) is hardcoded at the start of every title
  article[data-title^="(video)"] {
    margin: utils.rem(spacing.$large) 0;
    //remove bottom margin to avoid increased vertical spacing
    &:last-child {
      margin: utils.rem(spacing.$large) 0 0;
    }
  }

}

