@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

/* stylelint-disable selector-class-pattern */

.storyblokRichTextWrapper {
  //TODO: add :only-child to this selector? - e.g. too much spacing applied here: /news/articles/newsarticle_regression-test-03102025
  p:has(img) {
    margin: utils.rem(spacing.$large 0);
    max-width: max-content;
  }

  picture {
    display: block;
  }

  //target lite youtube embed wrapper - (video) is hardcoded at the start of every title
  [data-title^='(video)'] {
    margin: utils.rem(spacing.$large) 0 utils.rem(spacing.$x-large);
    //remove bottom margin to avoid increased vertical spacing
    &:last-child {
      margin: utils.rem(spacing.$large) 0 0;
    }
  }

  // override the margin for accordion heading levels in rich text
  //TODO: sanity check and remove, now we handle the heading tag spacing from the global DS heading styles
  :global(.accordion__heading) {
    margin: 0;
  }

  // override the margin for action banner heading levels in rich text
  :global(.action-banner__title) {
    margin: 0;
  }

  //NXT-552 Add margin top and bottom to the transparent testimonial component in rich text
  :global([class*='testimonial--transparent']) {
    margin-bottom: utils.rem(spacing.$large);
    margin-top: utils.rem(spacing.$large);
  }

  // remove bottom margin on any last child in richtext bloks
  > *:last-child {
    margin-bottom: 0;
  }
}

.imageMain {
  aspect-ratio: 16/9;
  display: block;
  height: auto;
  margin: utils.rem(spacing.$large) 0;
  object-fit: cover;
  width: 100%;
}
