@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.storyblokRichTextWrapper {

  p:has(img) {
    margin: utils.rem(spacing.$large 0);
    max-width: max-content;
  }

  h2,h3,h4,h5,h6 {
    margin: calc(utils.rem(spacing.$large) + utils.rem(spacing.$x-small)) 0 calc(utils.rem(spacing.$medium) + utils.rem(spacing.$xx-small));
  }

  picture {
    display: block;
    img {
      aspect-ratio: 16/9;
      display: block;
      height: auto;
      margin: calc(utils.rem(spacing.$large) + utils.rem(spacing.$x-small)) 0;
      object-fit: cover;
      width: 100%;
    }
  }
}

