@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';


.storyblokRichTextWrapper {
  p:has(img) {
    margin: utils.rem(spacing.$large 0);
    max-width: max-content;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: utils.rem(spacing.$large) 0 utils.rem(spacing.$medium);
  }

  picture {
    display: block;

    img {
      aspect-ratio: 16/9;
      display: block;
      height: auto;
      margin: utils.rem(spacing.$large) 0;
      object-fit: cover;
      width: 100%;
    }
  }

  //target lite youtube embed wrapper - (video) is hardcoded at the start of every title
  [data-title^='(video)'] {
    margin: utils.rem(spacing.$large) 0 utils.rem(spacing.$x-large);
    //remove bottom margin to avoid increased vertical spacing
    &:last-child {
      margin: utils.rem(spacing.$large) 0 0;
    }
  }

  // override the margin for accordion heading levels in rich text
  :global(.accordion__heading) {
    margin: 0;
  }

  // remove bottom margin on any last child in richtext bloks
  > *:last-child {
    margin-bottom: 0;
  }


}

