@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use "~/styles/colours";

.story {
  border: 1px solid colours.$featured-story-outline;
  margin-bottom: utils.rem(spacing.$large);
}

.imageContainer {
  aspect-ratio: 16 / 9;
}

.heading {
  font-family: typography.get-font-family(sans);
}
