@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '~/styles/colours';

.story {
  background: colours.$featured-story-background;
  border: 1px solid colours.$featured-story-outline;
  margin-bottom: utils.rem(spacing.$large);

  @include media-queries.mq($from: md) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.imageContainer {
  aspect-ratio: 16 / 9;
  background-position: center;
  background-size: cover;

  @include media-queries.mq($from: sm) {
    aspect-ratio: 21 / 9;
  }

  @include media-queries.mq($from: md) {
    display: flex;
    flex: 0 1 34%;
    overflow: hidden;

    &::before {
      background: colours.$featured-story-background;
      content: '';
      flex: 0 0 200px;
      pointer-events: none;
      position: relative;
      transform: rotate(-15deg) scale(1.2) translateX(-60%);
      z-index: 1;
    }
  }
}

.content {
  padding: utils.rem(spacing.$large) utils.rem(spacing.$medium);

  @include media-queries.mq($from: md) {
    flex: 0 1 66%;
    padding: utils.rem(spacing.$large);
  }
}

.heading {
  @include typography.h4();
  font-family: typography.get-font-family(sans);
  margin-top: 0;
}


.date {
  margin-left: utils.rem(spacing.$medium);
}

.author {
  margin-top: utils.rem(spacing.$medium);
}
