/* stylelint-disable selector-class-pattern */

.categoryLandingPage {
  // page overrides for DS components

  :global(.action-banner--full-width) {
    margin-bottom: 0;
  }

  :global(.action-banner--full-width-subtle) {
    margin-bottom: 0;
  }

  :global(.page-header) {
    margin-bottom: 0;
  }

  :global(.hero) {
    margin-bottom: 0;
  }
}
