

.categoryLandingPage {
  // page overrides for DS components

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.action-banner--full-width) {
    margin-bottom: 0;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.action-banner--full-width-subtle) {
    margin-bottom: 0;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.page-header) {
    margin-bottom: 0;
  }

  :global(.hero) {
    margin-bottom: 0;
  }
}
