@use '@nice-digital/nds-core/scss/media-queries';

.article  {
  // set up variables for the offset of the featured image across breakpoints
  --featuredImageOffset: 16dvh;

  @include media-queries.mq($until: md, $and: '(orientation: landscape)' ){
    --featuredImageOffset: 45dvh;
  }

  @include media-queries.mq($from: lg) {
    --featuredImageOffset: 28vh;
  }

// set padding on page-header based on the negat
  &:has(.featuredImage) {
    :global(.page-header) {
      padding-bottom: var(--featuredImageOffset);
    }
  }
}

.featuredImage {
  aspect-ratio: 16 / 9;
  margin-top: calc(calc(var(--featuredImageOffset) * -1) - 1rem);
  object-fit: cover;
  width: 100%;
}

