@use '@nice-digital/nds-core/scss/media-queries';

$featuredImageOffset: 20dvh;
$featuredImageHeight: 530px;

.article  {
  &:has(.featuredImage) {
    :global(.hero) {
      padding-bottom: $featuredImageOffset;
    }
  }
}


.featuredImage {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
  margin-top: -$featuredImageOffset;
}

