@use '@nice-digital/nds-core/scss/core';

.list {
  list-style: none;
  margin: 0; }


.list__item {
  position: relative;
    border-bottom: 1px solid #adadad;
    margin-bottom: core.rem(core.$nds-spacing-medium);
    padding-bottom: core.rem(core.$nds-spacing-medium);
  }

  .summaryControl {

  }

  .details {
    background: blue;
    svg {
      transform: rotate(180deg);
    }
  }

  .details[open] {
    background: red;
  }

