@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.chapterContent {
  margin-bottom: utils.rem(spacing.$large);


  > div > :first-child {
    margin-top: 0;
  }
}

.download {
  display: block;
  margin-bottom: utils.rem(spacing.$medium);
  margin-right: 0;
  text-align: center;
}

