@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '~/styles/colours';

.section {
  @include layout.fullWidth();
  padding: utils.rem(spacing.$xx-large) 0;

  &:first-of-type {
    padding-top: utils.rem(spacing.$medium);
  }

  h2 {
    margin: 0 0 utils.rem(spacing.$large);
  }
}

.darkSection {
  background: colours.$news-section-background;
}

.sectionContainer {
  @include layout.fullWidthContainer();
}

.newsCardList {
  list-style: none;
  margin: 0;
  max-width: none;

  @include media-queries.mq($from: md) {
    display: flex;

    li {
      flex: 0 1 50%;

      &:first-child {
        margin-right: utils.rem(spacing.$large);
      }
    }
  }
}

.podcastWrapper {
  @include media-queries.mq($from: md) {
    display: flex;
    justify-content: space-between;
  }
}

.podcastList {
  @include media-queries.mq($from: md) {
    flex: 0 1 70%;
    margin-right: utils.rem(spacing.$xx-large);
  }
}

.podcastImage {
  display: none;

  @include media-queries.mq($from: md) {
    display: block;
    flex: 0 1 30%;
  }
}

.podcastFooter {
  padding-top: utils.rem(spacing.$medium);
}

.podcastDate {
  margin-left: utils.rem(spacing.$medium);
}

.newsletterSignup {
  padding: utils.rem(spacing.$x-large) 0 utils.rem(spacing.$large);
}
