@use '~/styles/colours';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '~/styles/spacing' as *;

.promoBox {
  @include layout.fullWidth();
  background: colours.$promo-box-background;
  padding: $homepage-large-spacing 0;
}

.transparent {
  background: transparent;
}

.container {
  @include layout.fullWidthContainer();

  @include media-queries.mq($from: md) {
    display: flex;
  }
}

.heading {
  margin-top: 0;
}

.body {
  margin-bottom: utils.rem(spacing.$medium);
}

.contentContainer {
  margin-bottom: utils.rem(spacing.$large);

  @include media-queries.mq($from: md) {
    margin-bottom: 0;
  }
}
