@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '~/styles/colours';
@use '~/styles/spacing' as *;

.promoBox {
  @include layout.fullWidth();
  background: colours.$promo-box-background;

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.action-banner) {
    margin-bottom: 0;
  }
}

.promoBoxLargeSpacing {
  padding: $section-large-spacing 0;
}

.promoBoxMediumSpacing {
  padding: $section-medium-spacing 0;
}

.promoBoxSmallSpacing {
  padding: $section-small-spacing 0;
}

.transparent {
  background: transparent;
}

.container {
  @include layout.fullWidthContainer();

  @include media-queries.mq($from: md) {
    display: flex;
  }
}

.heading {
  margin-top: 0;
}

.body {
  margin-bottom: utils.rem(spacing.$medium);
}

.contentContainer {
  margin-bottom: utils.rem(spacing.$large);

  @include media-queries.mq($from: md) {
    margin-bottom: 0;
  }
}

.promotionalChildContainer {
  margin-top: utils.rem(spacing.$x-large);
}



.imageContainer {
  background-position: center;
  background-size: cover;
}

.imageContainerLandscape {
  aspect-ratio: 16 / 9;

  @include media-queries.mq($from: sm) {
    aspect-ratio: 21 / 9;
  }

  @include media-queries.mq($from: md) {
    aspect-ratio: 16 / 9;
  }
}

.imageContainerPortrait {
  aspect-ratio: 5 / 4;

  @include media-queries.mq($from: sm) {
    aspect-ratio: 16 / 9;
  }

  @include media-queries.mq($from: md) {
    aspect-ratio: 5 / 4;
  }
}
