@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.table {
  @include media-queries.mq($from: sm) {
    display: table;
  }

  &__caption {
    > :is(h2, h3, h4, h5, h6):first-child {
      margin-top: 0;
    }
    margin-bottom: utils.rem(spacing.$medium);
    text-align: left;
  }
  /* stylelint-disable-next-line selector-no-qualifying-type */
  th[data-align='left'],
  td[data-align='left'] {
    text-align: left;
  }
  /* stylelint-disable-next-line selector-no-qualifying-type */
  th[data-align='center'],
  td[data-align='center'] {
    text-align: center;
  }
  /* stylelint-disable-next-line selector-no-qualifying-type */
  th[data-align='right'],
  td[data-align='right'] {
    text-align: right;
  }

  th p,
  td p {
    margin-top: 0;
  }
}
