@use '~/styles/colours';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '~/styles/spacing' as *;

.cardSection {
  @include layout.fullWidth();
  background-color: colours.$card-section-background;
}
.cardSectionLargeSpacing {
  padding: $card-section-large-spacing 0;
}

.cardSectionMediumSpacing {
  padding: $card-section-medium-spacing 0;
}

.cardSectionSmallSpacing {
  padding: $card-section-small-spacing 0;
}

.leadText {
}

.transparent {
  background: transparent;
}
.container {
  @include layout.fullWidthContainer();
}
